.optionBtn {
    border: none;
    border-radius: 5px;
    max-width: 80px;
    height: 80px;
    margin: 10px;
    font-size: 70px;
    text-align: center;
    background-color: transparent;
    line-height: 0;
    padding: 0;
}